<!DOCTYPE html>
<!--
    author:     Brent Hamilton (2016)
    checkit:	  http://github.com/distrill
-->
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/newTab.css"/>
    <title><%= title %></title>
  </head>
  <body>
    This is the hook. It's catchy. You like it.
  </body>
</html>
